sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: W4B8G9kpKNkEjNsuzG6P72PU6dsjGTkbIVaeqxSa6PciE7xDPfCkmafsuZOQQgCZVsrJsb9qZXwxLCDIUGL9tp2XkdPPMIyNeTgfJM9LaoSbvw7uK4Qkw0eVW/C1ewKiOIpDvPQ0AgxloSVV5uJQ2JXXU0HlemCPjONrONa9GuybOiBhT+bCMgMKuqs0VhcMRsEZN2EamhiZKblzX9U0Oi6C1gukVWiVf+FpX5Suw0MhX1w30EzL4fQtau53pc2UNZWijCRC5kKJpJiG9EOL5Iujao2zFO1rKNV13RHshQcV6VTnCdmVu3Jvr9sXs0tMVnFcLX6BTYnz511B/m6Y2pTkXUIPuQAg5o649kfi9J2Hq3aeWnjhABwvFSrUqpByKytB8ixYN9m1J803is5+SL5GK9n17CGq8pRflmAIVidWhtyCSj4rbkLP9kY5IdXuEgbd1OKNmzSC3Vd2gDPfPdcf3fEqbxQ+1/XQSy80TTbMSYlX8CMHxqUYixmbgxRDGoXRzeK59Zzy1ewTH+X8EviYMfRF7AFY/7Vi2dqo7nV90I0jB1Y2eTP0qn7LAIlXwml/ksPjEglKWddYcxwdaXLGnFuHuYc0jAMOmdVIEZdJM6ZXx/0PZB8gpSsR7vf8KSu4pdxhSFV0MUrdBF8tIwvEvNgKsbmKRddh7ApVMq0=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/The-First-Man_4026
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy